.home{
  &__block1{
    &__txt{
      line-height: 0.2;
      letter-spacing: 3.34px;
      @extend .fz-84;
      font-family: $font-ProximaNovaCond-Bold;

      background-image: linear-gradient(to right, #125df6, #23a3f8), linear-gradient(to bottom, #ffffff, #ffffff);
      color: #ffffff;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__card01{
    @include media-breakpoint-up('m'){
      margin-top: -23px;
    }
    &__header{
      border: none !important;
      padding: 0;
      background-color: #f5f5f5;
    }
    &__body{
      background-color: #f0f3f8;
      padding: 15px;
      @include media-breakpoint-up('m'){
        padding: 30px;
      }
      &__box1{
        &__txt1{
          color: #0d0d15;
          @extend .fz-20;
          font-family: $font-OpenSans-SemiBold;
          @include media-breakpoint-up('m'){
            line-height: (16/20);
            margin-bottom: 9px;
          }
        }
        &__txt2{
          @extend .fz-15;
          color: #0d0d15;
          @include media-breakpoint-up('m'){
            line-height: (13/15);
          }
        }
        &__btn{
          color: rgba(62, 65, 74, 0.8);
          @extend .fz-18;
          border-color: #3ab54b;
          text-transform: inherit;
          padding: 0 20px;
          line-height: 44px;
          &__img{
            width: 22px;
          }
        }
      }
      &__radioProtocol{
        //width: 13px;
        //height: 13px;
        &:checked{
          background-position: center !important;
        }
      }
      &__radioTxt{
        color: rgba(1, 1, 1, 0.7);
        @extend .fz-20;
        .home__card01__body__radioProtocol:checked + &{
          color: rgba(1, 1, 1, 1);
        }
      }
      &__label{
        @extend .fz-20;
        color: #010101;
        line-height: (14/20);
        @include media-breakpoint-up('m'){
          text-align: right;
          margin-top: 10px !important;
        }
      }
      &__formTxt{
        @include media-breakpoint-up('m'){
          position: relative;
          top: 5px;
        }
      }
      &__input{
        border-color: #afafaf;
        @extend .fz-20;
        color: rgba(1, 1, 1, 1);
        height: 48px;
        &::placeholder{
          color: rgba(1, 1, 1, 0.6);
          @extend .fz-15;
        }
      }
      &__amount{
        color: #23a3f8;
        @extend .fz-20;
        font-family: $font-OpenSans-Bold;
      }
      &__small{
        @extend .fz-15;
        &--error{
          color: #ff0000;
          font-family: $font-OpenSans-Light;
        }
        &--text{
          font-family: $font-OpenSans-LightItalic;
          color: #909091;
        }
      }
      &__btnSubmit{
        background-image: linear-gradient(to top, #125df6, #23a3f8);
        @extend .fz-25;
        color: #ffffff;
        line-height: 46px;
        @include media-breakpoint-up('m'){
          min-width: 418px;
        }
      }
    }
  }
  &__block2{
    @extend .home__card01__body;
    background-color: #f5f5f5;
    &__txt1{
      color: $color3;
      font-family: $font-OpenSans-Bold;
      line-height: (20/26);
      @extend .fz-26;
      margin-bottom: 10px;
    }
    &__txt2{
      color: $color5;
      @extend .fz-15;
      line-height: (12/15);
    }
  }
  &__block3{
    margin-left: 0 !important;
    &__txt{
      font-family: $font-OpenSans-SemiBold;
      letter-spacing: -0.7px;
      @extend .fz-35;
      color: rgba(8, 24, 84, 0.3);
      .uk-active &{
        color: #081854;
      }
      span{
        color: rgba(8, 24, 84, 0.3);
        .uk-active &{
          color: #23a3f8;
        }
      }
    }
    >li{
      padding-left: 0 !important;
      &.uk-active{
        >a{
          background-color: #fff !important;
          color: rgba(8, 24, 84, 1);
          img{
            filter: grayscale(0%) !important;
          }
        }
      }
      >a{
        background-color: #ebebeb !important;
        height: 100%;
        display: flex !important;
        align-items: center;
        padding: 0 30px !important;
        color: rgba(8, 24, 84, 0.3);
        img{
          filter: grayscale(100%);
        }
      }
    }
  }
}